*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: clamp (16px, 2.5vw, 24px);
}

h1 {
  text-align: center;
}

main {
  background: black;
  display: grid;
  gap: 0.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  line-height: 0;
}

form {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  font-size: 1rem;
  margin: 2em auto;
  max-width: 20rem;
}

input,
button {
  font-size: inherit;
}

button {
  margin-top: 1em;
}

.hidden {
  display: none;
}
